/Java Básico/PrimeiroProjeto/nbproject/private/
/Java Básico/PrimeiroProjeto/build/
/Java Básico/OlaMundoSwing/nbproject/private/
/Java Básico/OlaMundoJavaFX/nbproject/private/
/Java Básico/OlaMundoJavaFX/build/
/Java Básico/OlaMundoJavaFX/dist/
/Java Básico/RelogioSwing/nbproject/private/
/Java Básico/RelogioSwing/build/
/Java Básico/TiposPrimitivos/nbproject/private/
/Java Básico/TiposPrimitivos/build/
/Java Básico/TesteTipos/nbproject/private/
/Java Básico/TesteTipos/build/
/Java Básico/SomaSwing/nbproject/private/
/Java Básico/SomaSwing/build/
/Java Básico/calculadoraidade/nbproject/private/
/Java Básico/calculadoraidade/build/
/Java Básico/OperadoresAritmeticos/nbproject/private/
